﻿@using asp_ls1.Models;
@model IEnumerable<asp_ls1.Models.User>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>

    <table>
        <tr class="header">
            <td><p>Имя пользователя</p></td>

        </tr>
        @foreach (User u in Model)
        {
            <tr>
                <td><p>@u.Login</p></td>
            </tr>
        }
    </table>
</body>
</html>


