﻿
@using asp_ls1.Models;
@model Product
@{
    ViewBag.Title = "UserRegistration";
}

<h2>Create</h2>

<form method="post">

    @if (Model == null)
    {
        <input placeholder="Enter Name" type="text" name="Name" />
        <input placeholder="Enter Price" type="number" name="Price" />

    }
    else
    {
        <input placeholder="Enter Name" type="text" name="Name" value=@Model.Name />
        <input placeholder="Enter Price" type="number" name="Price" value=@Model.Name />
        @Html.ValidationMessageFor(model => model.Name);
        <p>User Exist</p>
    }
    <button type="submit">Create</button>
</form>
