﻿@using asp_ls1.Models;
@{
    Layout = "../Shared/_Layout.cshtml";
}
<h1 style="font-family: Arial">Diablo Store</h1>
<p>@Session["username"]</p>
<p>@((Session["username"] as User).Login</p>
<a href="/Home/UserRegistration">Register as New user</a>
<a href="/Home/Products">Products</a>