﻿@using asp_ls1.Models;
@model IEnumerable<Product>

@{
    Layout = "../Shared/_Layout.cshtml";
}
<h1>Products</h1>
<p> <a href="/Home/CreateProduct">New Product</a></p>

<input id="myInput" type="text" placeholder="Search..">
<br>
<br>
@*<div>
    @Html.Partial("SideBar", []{"item1","item2","item3"}); PartialView
</div>*@
<table>
    <thead>
        <tr>
            <th>Product Name</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (Product product in Model) // вместо var product in ViewBag
        {
            <tr>
                <td><a href="Product/@product.Id">@product.Name</a></td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
