﻿@model IEnumerable<string>

@helper CreateList(IEnumerable<string> elements)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>Model</li>
        }
        <li>Main</li>
        <li>About</li>
        <li>Contacts</li>
        <li>Products</li>
    </ul>

}
<div>
    @CreateList(Model);

</div>
