﻿@using asp_ls1.Models;
@model User
@{
    ViewBag.Title = "UserRegistration";
}

<form method="post">

    @if (Model == null)
    {

        <input placeholder="Enter Login" type="text" name="Login" />
        <input placeholder="Enter Password" type="text" name="Password" />

    }
    else
    {
        //if(Model.Id != 0)
        //{

        //}
        <input placeholder="Enter Login" type="text" name="Login" value=@Model.Login />
        @Html.ValidationMessageFor(model => model.Login);
        <input placeholder="Enter Password" type="text" name="Password" value=@Model.Password />
        @Html.ValidationMessageFor(model => model.Password);

    }
    <button type="submit">Create</button>
</form>

<h2>UserRegistration</h2>

