﻿@using asp_ls1.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Diablo Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav class="navbar navbar-inverse navbar-custom" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Diablo Store</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            @*@if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                }
                                else
                                {
                                    <li>Привет <a href="#">@User.Identity.Name</a>!</li>
                                    <li><a href="#">Logout</a></li>
                                }*@
                        </ul>
                        <!-- <button type="submit" class="btn btn-default">Submit</button> -->

                        <ul class="nav navbar-nav navbar">
                            <li><a href="#">Dasboard</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>




        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                <nav>
                    <ul class="nav navbar-default nav-pills nav-stacked span2">
                        <li><a href="./secondPage.html" id="#myForm">From</a></li>
                        <li><a href="./report.html">Reports</a></li>
                        <li><a href="./task.html">Task</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="./hw14.html">hw14</a></li>
                        <li><a href="#">Nav Item Again</a></li>
                        <li><a href="#">One more nav</a></li>
                        <li><a href="#">Another nav item</li>
                        <li><a href="#">More Navigation</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">Nav Item Again</a></li>
                        <li><a href="#">One more nav</a></li>
                        <li><a href="#">Another nav item</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                <hr>
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>section title</h2>
                <hr>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="content">


            </div>


        </div>
    </div>

    @*</div>
        <div class="container body-content container-fluid">

        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>